.data-table td{border:solid 1px;padding: 3px;}
.data-table {border-collapse:collapse;}
.data-form {border: solid 1px;display:inline-block;}
.search-form {display: inline;}
.winner {color:green;}
.loser {color:red;}
